:root{
    font-size: calc(16px + .4vw);
  }
  
  #main{
    font-family: Josefin Sans;
  }
  #header{
    text-align: center;
  }
  
  .cal-day__day--selected {
    background-color: #2196f3;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .75);
    border-radius: 50%;
    color: #111;
  }
  
  .alert{
    width:50%;
    margin: auto; 
    display: table;
  }
  
  .halfWayLine{
    border-bottom-style: dotted;
    border-width: 2px;
  }

  .noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  #viewAvailability{
    display: none;
  }