

:root{
  font-size: calc(16px + .4vw);
}

#main{
  font-family: Josefin Sans;
}
#header{
  text-align: center;
}

#daysOfWeekDisplay {
  display: none;
}

.cal-day__day--today {
  font-weight: 800;
  color: #2196f3;
}

.cal-day__day--selected {
  background-color: #2196f3;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .75);
  border-radius: 50%;
  color: #111;
}

.alert{
  width:50%;
  margin: auto; 
  display: table;
}

#EventNameDiv,#otherSelection,p,#dateDaySelection,.CreateButton {
  margin: 20px 0px 20px 0px; 
  text-align: center;
}

#eventName
 {
  font-size:30px;
  text-align:center;
}

#dateDaySelection {
  margin-left: auto;
  margin-right: auto;

}

#commentToAttendeesLabel{
  margin-left: auto;
  margin-right: auto;
}

select{
  width: auto;
}

#displayNone {
  display: none;
}

#display {
  display: block;
}